.jumbotron {
	padding: 1rem 2rem 2rem 2rem !important;
	border-radius:0rem 0rem 1rem 1rem !important;
	box-shadow:0px 6px 20px 0px rgba(0,0,0,0.19),0px 8px 17px 0px rgba(0,0,0,0.2);
}

.card {
	box-shadow:0px 6px 20px 0px rgba(0,0,0,0.19),0px 8px 17px 0px rgba(0,0,0,0.2);
}

#state, #county, #place {
	display:block;
	width:100%;
}

select:invalid {
	color: gray;
}

.warning-flag {
	color:red;
	padding-left:2rem;
	font-size:24px;
}

.no-display {
	display:none;
}

li.nav-item > a {
	color:black;
}

#generate, #load, #loadFile, #save, #saveFile {
	margin-top:32px;
	margin-right:8px;
}

.dropdown-toggle {
		width:100%;
}

.dropdown-toggle {
	border-radius:4px !important;
	height:37.3333px !important;
}

.table {
	background-color:white !important;
	border-radius:1rem;
	border:none;
	margin-top:2rem;
	box-shadow:0px 6px 20px 0px rgba(0,0,0,0.19),0px 8px 17px 0px rgba(0,0,0,0.2);
}

.table-wrapper {
	margin-top:3rem;
}
/*
.table-wrapper:hover .add-row {
	display:block;
}*/

.table-striped {
	border-radius:1rem 1rem 0rem 0rem !important;
}

.card {
	margin-bottom:2rem;
}

#chhs-logo {
		height:2rem;
}
/*
.tool-pane {
	margin-top:2rem;
}*/

.assessment-table {
	table-layout:fixed;
}

.assessment-table > tbody > tr > th {
    transform: rotate(-90deg);
    white-space: nowrap;
    text-align: center;
	vertical-align:middle;
	width:10%
}
/*
.assessment-table > tbody > tr > td {
	width:45%
}
.assessment-table > tbody > tr > td:nth-child(2) {
	width:40%;
}
.assessment-table > tbody > tr > td:nth-child(3) {
	width:50%;
}*/

.survey-question {
	width:40%;
}

.survey-input {
	width:50%;
}

#map {
	position:relative;
	height:85vh;
	width:100%;
	margin: 0;
	padding: 0;
}

.swot-helpful {
	background-color:forestgreen !important;
	color:white;
}

.swot-harmful {
	background-color:maroon !important;
	color:white;
	border-radius:0rem 1rem 0rem 0rem;
}

.swot-internal {
	background-color:lightyellow !important;
	vertical-align:middle !important;
}

.swot-external {
	background-color:lightblue !important;
	vertical-align:middle !important;
	border-radius:0rem 0rem 0rem 1rem;
	border:none !important;
}

.swot-strengths {
	background-color:rgba(127,255,0,0.1) !important;
	white-space:pre;
}

.swot-weaknesses {
	background-color:rgba(255,128,0,0.1) !important;
	white-space:pre;
}

.swot-opportunities {
	background-color:rgba(13,152,186,0.1) !important;
	white-space:pre;
}

.swot-threats {
	background-color:rgba(153,50,204,0.1) !important;
	border:none !important;
	white-space:pre;
}

.swot-table > thead > tr > th {
	white-space: nowrap;
	text-align:center;
}

.swot-table > tbody > tr > th {
	white-space: nowrap;
	width: 1px;
	text-align:center;
}

.swot-table > tbody > tr > td {
	height:12rem;
	text-align:center;
	vertical-align:middle;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text);
}

.capacity-header, .vulnerability-header {
	margin-top:2rem;
}

.nav.nav-pills {
	margin-top:1rem;
	margin-bottom:1rem;
}

.nav-item-right {
	margin-left:auto;
	margin-right:1rem;
}

.first-row {
	border:none !important;
}

table > thead > tr > th, table > thead > tr > td {
	border:none !important;
}

.tab-pane > :nth-child(1) {
	margin-top:1rem;
}

.survey-input > label {
	margin-right:.5rem;
}

.survey-input > label > input {
	margin-right:.5rem;
}

.model-label {
	padding-left:5rem;
}

.overflow-auto {
	overflow-x: auto;	
}

#survey-controls {
	margin-right:.3rem;
}

#data-pane > div > h3 {
	margin-top:2rem;
}

thead > :nth-child(2) > th {
	padding:0rem;
}
/*
th > div.alert {
	margin:0.3rem;
}
*/
.helpbox {
	margin:0.3rem;
	height:auto;
	max-height:1000px;
	transition:all 1.3s cubic-bezier(0.18, 0.89, 0.32, 2.28);
	overflow:hidden;
}

.collapsed {
	max-height:0rem;
    padding:0rem;
	border:none;
}

.ask-help {
	color:#025aa5;
	cursor:pointer;
	vertical-align:bottom;
}

.ask-help:hover {
	color:#0275d8;
}

.remove-row {
	display:inline;
	visibility:hidden;
	opacity:0;
	color:darkred;
	transition:visibility 0.3s linear, opacity 300ms;
}

.remove-row:hover {
	color:#a94442;
}

.add-row {
	display:inline;
	visibility:hidden;
	opacity:0;
	color:rgba(34,119,34,1);
	transition:visibility 0.3s linear, opacity 300ms;
}

.add-row:hover {
	color:#449d44;
}

.update-network {
	display:inline;
	visibility:hidden;
	opacity:0;
	color:rgba(34,119,34,1);
	transition:visibility 0.3s linear, opacity 300ms;
}

.add-row:hover {
	color:#449d44;
}

tr:hover .add-row {
	cursor:pointer;
	visibility:visible;
	opacity:1;
}

tr:hover .remove-row {
	cursor:pointer;
	visibility:visible;
	opacity:1;
}

tr:hover .update-network {
	cursor:pointer;
	visibility:visible;
	opacity:1;
}

#jurisdiction-name {
	text-transform:capitalize;	
}

.ecomap {
	height:85vh !important;
}

.government {
	background-color: #f0f8ff !important;	
}

.business {
	background-color: #98FB98 !important;	
}

.ngo {
	background-color: #D8BFD8 !important;
}

.community {
	background-color: #FFFFE0 !important;	
}

.indent0 {
	
}

.indent1 {
	padding-left: 3rem !important;	
}

.indent2 {
	padding-left: 6rem !important;	
}

.indent3 {
	padding-left: 9rem !important;	
}

.rolodex {
	cursor:pointer;
}

/*.radio-caption {
	margin-right:.5rem;
}*/

.radio-input {
	margin-right:.5rem;
	margin-left:.5rem;
}

.branding-logo {
    color: darkblue;
    margin-right: -17px;
    font-size: 40px;
    opacity: .6;
}

.branding-acronym {
	letter-spacing: 3px;
}

.branding-flourish {
	font-style: italic;
}

.brand-breakout {
	font-size: 1rem;
	font-weight: 400;	
}

.weighted {
	font-weight: 500;
}

.title {
	margin-bottom: 10px;
}

.sponsor-block {
	padding-top: 0.55rem;
}
/*
.analysis-col-left {
	max-width:32vw;
}

.analysis-col-center {
	max-width:31vw;
}

.analysis-col-right {
	max-width:30vw;
}*/

.gumby {
	resize: both;
	overflow: auto;	
	width:30vw;
	min-height:200px;
	min-width:300px;
}

.collapsed {
	max-height: 0rem !important;
    padding: 0rem !important;
    border: none !important;
}

.navigation > .nav-item {
	width:12.5%;
}
